body{
    background-color: rgba(255, 255, 255, 0.63);
}

div#skills{
    text-align: center;
}
div#skills ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
div#skills li {
    margin-right:30px;
}
.see-on-github{
    background-color: #4078c0;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.private-project{
    background-color: #c04040;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
.private-project:hover{
    color: #fff;
    font-weight: 200;
}



.see-on-github:hover{

    font-weight: 200;
    background-image: linear-gradient(90deg, #4078c0 0%, #FFCF00 49%, #FC4F4F 80%, #4078C0FF 100%);
    animation: slidebg 5s linear infinite;
    color: #fff;
}
.see-on-github:hover::after{
    opacity: 1;
    text-decoration: none;
}

.executing{
    background-color: #40c0b1;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.executing:hover{
    color: #fff;
    font-weight: 200;
}
@keyframes slidebg {
    to {
        background-position:30vw;
    }
}


#read-more a {
    background-color: #405ec0;
    color: #fff;
    padding: 10px;
}

#read-more a:hover {
    color: #fff;
    font-weight: 200;
    background-color: black;
}

h2{
    line-height: 0;
}
h4{
    line-height: 0;
}

p{
    text-align: justify;

}

.table-bordered {
    border: 1px solid #ddd !important;
}

table caption {
    padding: .5em 0;
}

@media screen and (max-width: 767px) {
    table caption {
        display: none;
    }
}

.p {

    padding-top: 140px;
    font-size: 14px;
}

details summary {
    cursor: pointer;
}

details summary > * {
    display: inline;
}



details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
details summary::-webkit-details-marker {
    display: none;
}

details summary {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}
details[open] summary:after {
    transform: rotate(45deg);
    font-size: 2rem;
}
details summary {
    outline: 0;
}
details p {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
}

body{
    font-size: 15px;
}